{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row text-center">
        {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow" >
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                    </div>
                    <div class="card-body" data-height="1000">
                        <img src="{% mymedia_tag object.img %}" width="100" height="100">
                        <div>
                            {% for version in object.version_set.all %}
                                {% if version.activate %}
                                    <p>Активная версия:
                                        {{ version.name }}
                                        {{ version.number }}
                                    <p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product' object.pk %}">Описание</a>
                            {% if user.is_authenticated and object.author|stringformat:"s" == user.email|stringformat:"s" %}
                                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:update_product' object.pk %}">Редактировать</a>
                                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:delete_product' object.pk %}">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}